services:
  secureshare:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./secureshare.db:/app/secureshare.db
    #  - ./certs:/app/certs # Optional: Mount certs if you want to change them without rebuilding

  sonarqube:
    image: sonarqube:community
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true # Disable bootstrap checks for easier local dev
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs

  cli-1:
    build: .
    command: tail -f /dev/null
    environment:
      - SECURESHARE_URL=https://secureshare:8000
      - SECURESHARE_CA_CERT=/app/certs/ca.crt
    volumes:
      - ./certs:/app/certs
    depends_on:
      - secureshare

  cli-2:
    build: .
    command: tail -f /dev/null
    environment:
      - SECURESHARE_URL=https://secureshare:8000
      - SECURESHARE_CA_CERT=/app/certs/ca.crt
    volumes:
      - ./certs:/app/certs
    depends_on:
      - secureshare

  cli-3:
    build: .
    command: tail -f /dev/null
    environment:
      - SECURESHARE_URL=https://secureshare:8000
      - SECURESHARE_CA_CERT=/app/certs/ca.crt
    volumes:
      - ./certs:/app/certs
    depends_on:
      - secureshare

volumes:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
